# Virtual Environment
venv/
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# Database journal files
*.db-journal

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

.env
patient_reports.db